.tableWrapper {
  margin-top: 100px;
  padding: 20px;
  background-color: var(--gray-dark);
}

.button {
  margin-bottom: 20px;
  max-width: 200px;
}

.table {
  background-color: var(--gray-extradark);
  margin: 0 auto;
  font-size: 14px;
  text-align: center;
  font-family: Roboto, Arial, sans-serif;
}

.head {
  background-color: var(--gray-extradark);
  border-color: var(--gray-light);
  color: var(--white-half-transparent);
  height: 40px;
}

table td {
  background-color: var(--gray-light);
  color: var(--text);
  padding: 10px;
}
